body {
  font-family: "Source Sans Pro", sans-serif; }

@media (min-width: 992px) {
  nav#header-nav {
    padding-right: 115px;
    padding-left: 115px; } }

nav .navbar-brand {
  color: #5CB85C !important; }

nav .collapse.navbar-collapse {
  display: block !important; }
  nav .collapse.navbar-collapse .navbar-nav {
    float: right; }

.btn-success-custom {
  background: #5CB85C;
  color: white;
  float: right; }

.no-padding {
  padding: 0 !important; }

#content {
  margin-bottom: 60px; }
  #content .header-title {
    text-align: center;
    background: #5CB85C;
    padding: 40px 15px;
    margin-bottom: 40px; }
    #content .header-title h1 {
      color: white;
      font-weight: 700 !important;
      text-align: center;
      font-size: 3.5rem;
      padding-bottom: 0.5rem; }
    #content .header-title p {
      color: white;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 300 !important;
      margin-bottom: 0px; }
  #content .tags {
    background: #f3f3f3;
    padding: 10px 15px;
    border-radius: 6px; }
    #content .tags p {
      font-size: 9.3pt;
      margin-bottom: 6px; }
    #content .tags ul {
      list-style: none;
      padding: 0; }
      #content .tags ul li {
        display: inline-block;
        margin: 2px 1px; }
        #content .tags ul li a {
          background: #818a91;
          color: white;
          padding: 5px 5px;
          border-radius: 5px;
          font-size: 9pt; }
  #content .list-items {
    padding: 10px 15px; }
    #content .list-items .title p {
      display: inline;
      margin-bottom: 0;
      border-bottom: 2px solid #5CB85C;
      padding: 10px 12px;
      font-size: 11.5pt;
      color: #5CB85C; }
    #content .list-items ul {
      list-style: none;
      padding: 0;
      margin-top: 8px; }
      #content .list-items ul li {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 25px 0; }
        #content .list-items ul li .title-article .info {
          display: inline-block; }
          #content .list-items ul li .title-article .info a {
            text-decoration: none; }
          #content .list-items ul li .title-article .info img {
            width: 32px;
            height: 32px;
            border-radius: 100%;
            margin-right: 5px; }
          #content .list-items ul li .title-article .info .d-inline-block {
            vertical-align: middle; }
            #content .list-items ul li .title-article .info .d-inline-block p {
              margin-bottom: -4px;
              font-size: 11pt;
              color: #5CB85C; }
            #content .list-items ul li .title-article .info .d-inline-block span {
              font-size: 9pt;
              color: #818a91; }
        #content .list-items ul li .title-article .like {
          color: #5CB85C;
          border: 1px solid #5CB85C;
          margin-top: 9px;
          font-size: 10pt;
          border-radius: 5px;
          float: right;
          padding: 2px 5px 1px 5px;
          text-align: center; }
        #content .list-items ul li .detail {
          margin-top: 20px; }
          #content .list-items ul li .detail a {
            text-decoration: none; }
          #content .list-items ul li .detail h4 {
            color: rgba(0, 0, 0, 0.8); }
          #content .list-items ul li .detail p {
            color: rgba(0, 0, 0, 0.6);
            font-size: 11pt; }
          #content .list-items ul li .detail span {
            color: #818a91;
            font-size: 9pt; }
  #content .form-custom {
    margin-top: 50px;
    margin-bottom: 50px; }
    #content .form-custom h1.title {
      text-align: center;
      color: rgba(0, 0, 0, 0.8); }
    #content .form-custom .back-to-login p {
      text-align: center;
      color: #5CB85C;
      font-size: 11pt; }
    #content .form-custom form {
      margin-top: 30px; }
      #content .form-custom form .item {
        margin-bottom: 20px; }
        #content .form-custom form .item input {
          height: 55px; }
        #content .form-custom form .item textarea {
          min-height: 140px; }
        #content .form-custom form .item button {
          background: #5CB85C;
          float: right;
          padding: 12px 25px; }
  #content .profile-header {
    text-align: center;
    padding: 30px 20px;
    background: #f3f3f3; }
    #content .profile-header img {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      margin-bottom: 8px; }
    #content .profile-header p.username {
      margin-bottom: 10px; }
    #content .profile-header button {
      font-size: 9pt;
      color: #818a91;
      border: 1px solid #818a91;
      font-weight: bold; }
  #content .article-tabs {
    margin: 30px 0 -9px 0; }
    #content .article-tabs .nav-tabs .nav-link.active {
      color: #5CB85C;
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      border-left: 1px solid transparent;
      border-bottom: 2px solid #5CB85C; }
    #content .article-tabs .nav-tabs .nav-link {
      color: #818a91;
      font-size: 11pt;
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      border-left: 1px solid transparent; }

.form-control:focus, .btn-success:focus {
  border-color: #86fe93;
  box-shadow: 0 0 0 0.25rem rgba(43, 253, 13, 0.25); }

.page-item.active .page-link {
  background-color: #5CB85C;
  border-color: #5CB85C; }

.page-link {
  color: #5CB85C; }
  .page-link:hover {
    color: #5CB85C; }
  .page-link:focus {
    color: #5CB85C;
    box-shadow: 0 0 0 0.25rem rgba(43, 253, 13, 0.25); }
